@import "tailwindcss";


body{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.bg-color{
  color: #3F8BA1;
}

.bg-color1{
   color: #7A9351;
}

h1{
    font-family: 'El Messiri', sans-serif;
}
h2{
  font-family: 'El Messiri', sans-serif;
}


ul {
  list-style: none;
  padding-left: 0;
}